#content {}
.main {
    position: relative;
    height: 100vh;
}
.main h1 {
    position: absolute;
    bottom: 100px;
    left:16px;
    font-family: Pretendard4;
}
.main h1 span {
    position: relative;
    z-index: 9;
}
.main h1 .name {
    font-size: 10vw;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
    color: transparent;
}
.main h1 .s {
    font-size: 10vw;
}
.main h1 .sub {
    font-size: 15vw;
}
.main .rectangle {
    width: 35vw;
    height: 36vh;
    background: #FBF100;
    position: absolute;
    bottom: 22.4%;
    right: -5%;
}