.mainPage {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .1);
}
.mainPage .mainWrap {
    position: relative;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}
.mainPage .mainContent {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
}
.mainPage .main-icon {
    position: relative;
    width: 60%;
    border-radius: 100%;
    margin: 0 auto;
    transform: translate3d(0, 0, 0);
    box-shadow: 0 2px 30px rgba(0, 0, 0, .1);
    background: white;
    overflow: hidden;
}
.mainPage .main-icon::after {
    content:'';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    padding-bottom: 100%;
    background: linear-gradient(to top, rgba(216, 180, 248, 1), rgba(221, 238, 255, 0) 60%, rgba(255, 255, 255, .5));
    z-index: 11;
    transform: translate3d(0, 0, 0);
}
.mainPage .wave {
    position: absolute;
    bottom: -90%;
    left: 50%;
    width: 160%;
    margin: 0 -80%;
    border-radius: 43%;
    animation: wave 3000ms infinite linear;
    transform-origin: 50% 48%;
    background: #a3d4ed;
    opacity: .8;
}
.mainPage .wave::after {
    content: '';
    display: block;
    padding-bottom: 100%;
}
.mainPage .wave2 {animation: wave 7000ms infinite linear; opacity: .5; background-color: #FBF0B2;}
.mainPage .wave3 {animation: wave 5000ms infinite linear;}
.mainPage .title {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    z-index: 1;
    text-align: center;
    transform: translateY(-50%) translate3d(0, 0, 0);
    color: var(--text-white);
    letter-spacing: 5px;
    font-size: 24px;
    text-shadow: 0 1px 0 rgba(black, .1);
    font-family: 'GowunBatang-Regular';
}
.mainPage .title p {
    font-size: 12px;
    font-weight: 500;
}
/* Animation */
@keyframes wave {
    100% { transform: rotate(360deg); }
}
/* 메인페이지 소개 문구 */
.mainPage .main-text {
    margin-top: 50px;
    font-size: 1.6rem;
    font-weight: 300;
}
/* 마우스 스크롤 */
.mainPage .main-scroll {margin-top: 50px;}
.mainPage .main-scroll > div {
    width: 15px;
    height: 24px;
    border: 2px solid white;
    border-radius: 50px;
    margin: 0 auto;
}
.mainPage .main-scroll span {
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: white;
    animation: scroll 1.5s infinite linear;
}
.mainPage .main-scroll p {
    margin-top: 20px;
    font-size: 1.2rem;
    color: var(--text-white);
}
/* Animation */ 
@keyframes scroll {
    100% {transform: translateY(10px);}
}

/* subPage */
.subPage .subWrap {
    position: relative;
    margin: 0 auto;
    text-align: center;
}
.subPage .subWrap h1 {
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 1.6rem;
    font-weight: 700;
}
.subPage .subWrap h1 span {font-weight: 900;}
.subPage .subWrap input {display: none;}
/* 카드 뒷배경 누르면 닫히게 */
.subPage .subWrap .closeBg {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
    border-radius: 0;
}
.subPage .cardBox {
    width: 90%;
    margin: 0 auto;
}
/* 카테고리 카드, 짝 카드 */
.subPage .categoryCard,
.subPage .coupleCard {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}
.subPage .categoryCard::after,
.subPage .coupleCard::after {
    content: '';
    display: block;
    padding-bottom: 32%;
}
.subPage .categoryCard label,
.subPage .coupleCard label {
    position: relative;
    width: 22.5%;
    box-shadow: 1px 0 3px rgba(0, 0, 0, .2), 0 2px 5px rgba(0, 0, 0, .1);
    border-radius: 5%;
    transition: .3s;
    background-color: white;
    margin: 5px;
}
.subPage .categoryCard label div,
.subPage .coupleCard label div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    border-radius: 5%;
}
.subPage .categoryCard label h2,
.subPage .coupleCard label h2 {
    font-size: 1rem;
    font-weight: 900;
    text-shadow: 0 1px 5px rgba(0, 0, 0, .2);
    color: var(--text-white);
}
/* 짝카드 앞, 뒤 */
.subPage .coupleCard label div {
    backface-visibility: hidden;
}
.subPage .coupleCard label .front {z-index: 9;}
/* 주제 카드 색 */
.subPage .categoryCard label[for="introduce"] div,
.subPage .coupleCard label[for="c-intro"] .front,
.subPage .coupleCard label[for="c-intro"] .back {background-color: #a3d4ed;}
.subPage .categoryCard label[for="about"] div,
.subPage .coupleCard label[for="c-about"] .front,
.subPage .coupleCard label[for="c-about"] .back {background-color: #D8B4F8;}
.subPage .categoryCard label[for="skill"] div,
.subPage .coupleCard label[for="c-skill"] .front,
.subPage .coupleCard label[for="c-skill"] .back {background-color: #FFC7EA;}
.subPage .categoryCard label[for="portfolio"] div,
.subPage .coupleCard label[for="c-port"] .front,
.subPage .coupleCard label[for="c-port"] .back {background-color: #FBF0B2;}
/* 짝카드 뒤 글자 반전 */
.subPage .coupleCard label .back h2 {transform: rotateY(180deg);}
/* 주제 카드 클릭 */
#introduce:checked ~ .cardBox .categoryCard label[for="introduce"],
#about:checked ~ .cardBox .categoryCard label[for="about"],
#skill:checked ~ .cardBox .categoryCard label[for="skill"],
#portfolio:checked ~ .cardBox .categoryCard label[for="portfolio"] {transform: translateY(-15px);}
/* 주제 카드 클릭 후 힌트 */
#introduce:checked ~ .cardBox .coupleCard label[for="c-intro"],
#about:checked ~ .cardBox .coupleCard label[for="c-about"],
#skill:checked ~ .cardBox .coupleCard label[for="c-skill"],
#portfolio:checked ~ .cardBox .coupleCard label[for="c-port"] {animation: hint alternate linear infinite .2s;}
/* 짝 카드 클릭 */
#c-intro:checked ~ .cardBox .coupleCard label[for="c-intro"],
#c-about:checked ~ .cardBox .coupleCard label[for="c-about"],
#c-skill:checked ~ .cardBox .coupleCard label[for="c-skill"],
#c-port:checked ~ .cardBox .coupleCard label[for="c-port"] {transform: rotateY(180deg); animation: none;}
#c-intro:checked ~ .cardBox .coupleCard label[for="c-intro"] .front,
#c-about:checked ~ .cardBox .coupleCard label[for="c-about"] .front,
#c-skill:checked ~ .cardBox .coupleCard label[for="c-skill"] .front,
#c-port:checked ~ .cardBox .coupleCard label[for="c-port"] .front {z-index: 0;}
/* 주제 내용 */
.subPage .subContent {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}
/* 뒷 배경 누르면 꺼지게 */
.subPage .contentBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(3px);
    cursor: pointer;
}
.subPage .contWrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    min-width: 300px;
    padding: 40px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.subPage .contWrap > h2 {
    font-size: 2.4rem;
    font-family: var(--font-high);
    font-weight: 900;
    margin-bottom: 10px;
    text-align: left;
    background: linear-gradient(to right, #a3d4ed, #D8B4F8, #FFC7EA, #FBF0B2);
    color: transparent;
    -webkit-background-clip: text;
}
.subPage .contWrap > p {
    font-size: 1.4rem;
    text-align: left;
    margin-bottom: 20px;
    font-weight: 700;
}
.subPage .contWrap > p > span {font-weight: 900;}
.subPage .contWrap > ul {
    text-align: left;
    font-size: 1.4rem;
    font-weight: 900;
    color: var(--text-gray);
}
.subPage .contWrap > ul span {
    display: block;
    width: 60px;
    line-height: 20px;
    text-align: center;
    background-color: #D8B4F8;
    border-radius: 4px;
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 3px 5px;
    color: var(--text-gray);
}
.subPage .contWrap > ul li:first-child span {margin-top: 0;}
/* 기술스택 부분 */
.subPage .contWrap .skill-box {text-align: left;}
.subPage .contWrap .skill-box span {
    display: inline-block;
    font-size: 1.2rem;
    color: var(--text-gray);
    padding: 4px 12px;
    margin-right: 3px;
    margin-bottom: 5px;
    border: 1.5px solid var(--text-high);
    border-radius: 100px;
    cursor: default;
    transition: .2s;
}
.subPage .contWrap .skill-box span:hover {
    font-weight: 900;
    background-color: #D8B4F8;
}
.subPage .contentClose {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.6rem;
    cursor: pointer;
    color: var(--text-high);
}
/* 카드 짝 성공 */
#introduce:checked ~ #c-intro:checked ~ .subContent.introBox,
#about:checked ~ #c-about:checked ~ .subContent.aboutBox,
#skill:checked ~ #c-skill:checked ~ .subContent.skillBox,
#portfolio:checked ~ #c-port:checked ~ .subContent.portfolioBox {display: block;}
/* 내용 닫기 */
#c-close:checked ~ .subContent {display: none;}
/* Animation hint */
@keyframes hint {
    0% {transform: rotate(-1.5deg);}
    100% {transform: rotate(1.5deg);}
}

/* 포트폴리오 소개 영역 */
.myWork {
    margin-top: 100px;
}

