@media all and (min-width: 1024px) {
    /* 메인페이지 물결 아이콘 */
    .mainPage .main-icon {
        width: 350px;
        height: 350px;
    }
    /* 메인페이지 마우스 */
    .mainPage .main-scroll > div {
        width: 25px;
        height: 36px;
        border-radius: 50px;
    }
    /* 서브페이지 게임 설명 글자 크기 */
    .subPage .subWrap h1 {font-size: 2.4rem;}
    /* 카드 크기 */
    .subPage .categoryCard label,
    .subPage .coupleCard label {
        width: 210px;
        height: 280px;
    }
    /* 카드 내용 글자 크기 */
    .subPage .categoryCard label h2,
    .subPage .coupleCard label h2 {font-size: 2.4rem;}
    #introduce:checked ~ .cardBox .categoryCard label[for="introduce"],
    #about:checked ~ .cardBox .categoryCard label[for="about"],
    #skill:checked ~ .cardBox .categoryCard label[for="skill"],
    #portfolio:checked ~ .cardBox .categoryCard label[for="portfolio"] {transform: translateY(-35px);}
    /* 서브페이지 클릭 후 나오는 박스 */
    .subPage .contWrap {padding: 60px 40px;}
    .subPage .contWrap > h2 {margin-bottom: 20px;}
    /* 서브페이지 introduce */
    .subPage .contWrap > h2 {font-size: 3.6rem;}
    .subPage .contWrap > p {
        font-size: 1.8rem;
        margin-bottom: 30px;
    }
    .subPage .contWrap > ul {font-size: 1.6rem;}
    .subPage .contWrap > ul span {
        font-size: 1.4rem;
        width: 68px;
    }
    .subPage .contWrap .skill-box span {
        font-size: 1.6rem;
        padding: 6px 20px;
    }
    /* 서브페이지 닫힘 버튼 */
    .subPage .contentClose {font-size: 2.4rem;}

    /* slick slide portfolio */
    .myWork .slick-slide {width: 100px;}
    .myWork .work-img-slide {width: 100px;}
    .myWork .work-img img {width: 100%;}
}