header {
    position: fixed;
    top: -60px;
    left: 0;
    width: 100%;
    z-index: 9;
    transition: .2s;
}
header ul {
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, .5);
    backdrop-filter: blur(5px);
    border-bottom: 1px solid #D8B4F8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}
header ul li {
    font-family: var(--font-high);
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
    flex :1;
    text-align: center;
}
header ul li:hover {color: var(--text-high);}
/* header 스크롤 시 */
header.scroll {top: 0;}
/* header li click */
header li.on {color: var(--text-high);}
.mainPage {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .1);
}
.mainPage .mainWrap {
    position: relative;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}
.mainPage .mainContent {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
}
.mainPage .main-icon {
    position: relative;
    width: 60%;
    border-radius: 100%;
    margin: 0 auto;
    transform: translate3d(0, 0, 0);
    box-shadow: 0 2px 30px rgba(0, 0, 0, .1);
    background: white;
    overflow: hidden;
}
.mainPage .main-icon::after {
    content:'';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    padding-bottom: 100%;
    background: linear-gradient(to top, rgba(216, 180, 248, 1), rgba(221, 238, 255, 0) 60%, rgba(255, 255, 255, .5));
    z-index: 11;
    transform: translate3d(0, 0, 0);
}
.mainPage .wave {
    position: absolute;
    bottom: -90%;
    left: 50%;
    width: 160%;
    margin: 0 -80%;
    border-radius: 43%;
    animation: wave 3000ms infinite linear;
    transform-origin: 50% 48%;
    background: #a3d4ed;
    opacity: .8;
}
.mainPage .wave::after {
    content: '';
    display: block;
    padding-bottom: 100%;
}
.mainPage .wave2 {animation: wave 7000ms infinite linear; opacity: .5; background-color: #FBF0B2;}
.mainPage .wave3 {animation: wave 5000ms infinite linear;}
.mainPage .title {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    z-index: 1;
    text-align: center;
    transform: translateY(-50%) translate3d(0, 0, 0);
    color: var(--text-white);
    letter-spacing: 5px;
    font-size: 24px;
    text-shadow: 0 1px 0 rgba(black, .1);
    font-family: 'GowunBatang-Regular';
}
.mainPage .title p {
    font-size: 12px;
    font-weight: 500;
}
/* Animation */
@keyframes wave {
    100% { transform: rotate(360deg); }
}
/* 메인페이지 소개 문구 */
.mainPage .main-text {
    margin-top: 50px;
    font-size: 1.6rem;
    font-weight: 300;
}
/* 마우스 스크롤 */
.mainPage .main-scroll {margin-top: 50px;}
.mainPage .main-scroll > div {
    width: 15px;
    height: 24px;
    border: 2px solid white;
    border-radius: 50px;
    margin: 0 auto;
}
.mainPage .main-scroll span {
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: white;
    animation: scroll 1.5s infinite linear;
}
.mainPage .main-scroll p {
    margin-top: 20px;
    font-size: 1.2rem;
    color: var(--text-white);
}

/* subPage */
.subPage .subWrap {
    /* position: relative; */
    width: 90%;
    text-align: center;
    margin: 0 auto;
}
.subPage h1 {
    text-align: center;
    font-size: 2.4rem;
    font-family: var(--font-high);
    font-weight: 900;
    margin-top: 100px;
    margin-bottom: 45px;
}
.subPage .subContent {
    width: 100%;
    margin-bottom: 20px;
}
.subPage .contWrap {
    background-color: white;
    padding: 40px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, .05);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .08);
}
.subPage .contWrap > h2 {
    font-size: 2.4rem;
    font-family: var(--font-high);
    font-weight: 900;
    margin-bottom: 10px;
    text-align: left;
    background: linear-gradient(to right, #a3d4ed, #D8B4F8, #FFC7EA, #FBF0B2);
    color: transparent;
    -webkit-background-clip: text;
}
.subPage .contWrap > p {
    font-size: 1.4rem;
    text-align: left;
    margin-bottom: 20px;
    font-weight: 700;
}
.subPage .contWrap > p > span {font-weight: 900;}
.subPage .contWrap > ul {
    text-align: left;
    font-size: 1.4rem;
    font-weight: 900;
    color: var(--text-gray);
}
.subPage .contWrap > ul span {
    display: block;
    width: 60px;
    line-height: 20px;
    text-align: center;
    background-color: #D8B4F8;
    border-radius: 4px;
    font-weight: 900;
    font-size: 1.2rem;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 3px 5px;
    color: var(--text-gray);
}
.subPage .contWrap > ul li:first-child span {margin-top: 0;}
/* 기술스택 부분 */
.subPage .contWrap .skill-box {text-align: left;}
.subPage .contWrap .skill-box span {
    display: inline-block;
    font-size: 1.2rem;
    color: var(--text-gray);
    padding: 4px 12px;
    margin-right: 3px;
    margin-bottom: 5px;
    border: 1.5px solid var(--text-high);
    border-radius: 100px;
    cursor: default;
    transition: .2s;
}
.subPage .contWrap .skill-box span:hover {
    font-weight: 900;
    background-color: #D8B4F8;
}
.subPage .contentClose {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.6rem;
    cursor: pointer;
    color: var(--text-high);
}

/* 포트폴리오 소개 영역 */
.myWork {padding-top: 150px;}
.myWork .workWrap {
    width: 90%;
    margin: 0 auto;
}
.myWork h1 {
    text-align: center;
    font-size: 2.4rem;
    font-family: var(--font-high);
    font-weight: 900;
    margin-bottom: 45px;
}
.myWork .work-title p {font-size: 1.2rem;}
.myWork .work-title h2 {
    font-size: 1.6rem;
    font-weight: 900;
    margin-bottom: 10px;
}
.myWork .work-cont p {font-size: 1.4rem;}
.myWork .work-cont h3 {
    font-size: 1.4rem;
    font-weight: 700;
    font-family: var(--font-high);
    margin-top: 20px;
    margin-bottom: 10px;
}
/* 제작 기간 */
.myWork .date > span {font-size: 1.4rem;}
/* main color 소개 */
.myWork .mainColor ul {display: flex;}
.myWork .mainColor li {margin-right: 5px;}
.myWork .mainColor li span {
    color: var(--text-white);
    padding: 5px 8px;
    letter-spacing: 1.5px;
}
/* 사용 툴 소개 */
.myWork .tool ul {display: flex;}
.myWork .tool li {margin-right: 3px;}
.myWork .tool span {
    font-weight: 900;
    padding: 3px 5px;
    letter-spacing: 1px;
}
.myWork .tool span::after {
    content: '|';
    margin-left: 9px;
}
.myWork .tool li:last-child span:after {display: none;}
.myWork .work-cont a {
    display: inline-block;
    font-size: 1.2rem;
    padding: 8px 24px;
    border: 1px solid #D8B4F8;
    border-radius: 100px;
    margin-top: 20px;
    margin-bottom: 30px;
    transition: .3s;
}
.myWork .work-cont a:hover {background-color: #D8B4F8;}
.myWork .work-image {width: 100%;margin: 0 auto;}
.myWork .work-image img {width: 100%;}
.myWork .work-img-tit {display: none;}
/* 포폴 텍스트 영역 이동 버튼 */
.myWork .work-txt .swiperBtn {
    position: absolute;
    bottom: 37px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 20px;
}
.myWork .work-txt .swiperBtn div {
    width: 0;
    color: var(--text-high);
    font-weight: 900;
}
.myWork .work-txt .swiperBtn .swiper-button-prev::after {margin-right: 5px;}
.myWork .work-txt .swiperBtn .swiper-button-prev::after,
.myWork .work-txt .swiperBtn .swiper-button-next::after {
    font-size: .8rem;
    padding: 4px 5px;
    border: 1px solid #D8B4F8;
}
.myWork .work-txt .swiperBtn .swiper-button-prev:hover:after,
.myWork .work-txt .swiperBtn .swiper-button-next:hover:after {
    background-color: #D8B4F8;
    color: var(--text-white);
}
/* 포폴 슬라이드 페이지 */
.myWork .work-img .swiper-pagination {
    display: block;
    position: relative;
    margin-top: 15px;
}
.myWork .work-img span.swiper-pagination-bullet {background-color: rgba(0,0,0,.5);}
.myWork .work-img span.swiper-pagination-bullet.swiper-pagination-bullet-active {background-color: #D8B4F8;}
/* CONTACT */
.contact {padding-top: 150px;}
.contact .contactWrap {
    text-align: center;
    margin: 0 auto;
}
.contact h1 {
    text-align: center;
    font-size: 2.4rem;
    font-family: var(--font-high);
    font-weight: 900;
    margin-bottom: 45px;
}
.contact .con-box h2 {
    font-size: 1.6rem;
    font-weight: 900;
    font-family: var(--font-high);
    margin-bottom: 10px;
}
.contact .con-box p {
    font-size: 1.4rem;
    margin-bottom: 30px;
    font-weight: 900;
}
/* footer */
footer {
    margin-top: 170px;
    background-color: rgba(0, 0, 0, .1);
}
footer .fWrap {
    padding: 10px 0;
    text-align: center;
    font-size: 1.2rem;
}
footer .fWrap p:last-child {font-weight: 900;}
